
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,600);

* {
    outline:none;
  }

body {

    background: url(../assets/tile_background.png);

}

nav {
    box-shadow: 0px 4px 4px #ffe259;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
}


/*----------- Carousel -------------------*/

.user {
    width: 40px !important;
    height: 40px !important;
    margin: 0 auto !important;
}

.slider {
    margin-bottom: 200px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.slider-card {
    background-color: #fff;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.slider-card img {
    border-radius: 5px 5px 0 0;
}

.owl-nav .owl-next {
    position: absolute !important;
    top: calc(50% - 25px) !important;
    right: 0 !important;
    opacity: 1 !important;
    font-size: 50px !important;
    z-index: 1 !important;
}

.owl-nav .owl-prev {
    position: absolute !important;
    top: calc(50% - 25px) !important;
    left: 0 !important;
    opacity: 1 !important;
    font-size: 50px !important;
    z-index: 1 !important;
}
/* ------------------------------------ */

/* ----------------kategori -------------*/

.kardus-kategori {
    background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;    
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.kardus-kategori img {
    margin: auto;    
    display: block;
}

.block-kategori:hover {
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.521);
    
}

/* ----------------kategori -------------*/


/* --------------list--------------------- */

.atass {
    box-shadow: 0px 4px 4px #ffe259;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    border-radius: 30px;
}

.ttoppics img {
    margin: 0 5px;
}

/* --------------list------------------- */

.bwahh i{
    margin-left: 10px;
}


.bwahh button {
    border: none;
}

.ngisor-sing-nggawe h5{
    text-align: center;
    font-weight: bold;
}

.fas {
    cursor: pointer;
}

@media screen and (max-width: 425px){
    .logo {
        margin-left: 35%;
        margin-bottom: 10px;
    }

    .h1-atas {
        font-size: 25px;
        margin-top: 15px;
    }

    .e-slide h5 {
        margin: 5px;
        font-size: 28px !important;
    }

    .atass {
        display: none !important;
    }

    .nduwur {
        margin-top: 50px !important;
    }
    
    .garis-samping  h5 {
        font-size: 15px !important;
    }

    .gambar-footer {
        width: 60px;
        margin-top: 30px;
    }
    
    .tulisan-footer {
        font-size: 15px;
        margin-top: 30px;
        text-align: center;
    }
}

.like {
    color: black;
}

.like2 {
    color: red;
}

.bookmark1 {
    color: black;
}

.bookmark2 {
    color: blue;
}

.garis-samping {
    border-right:2px solid black
}



.jeneng-wong {
    font-weight: bold
}


#pizza {
  width:100%;
  margin: 0;
  background-image:url(https://subtlepatterns.com/patterns/purty_wood.png);
  box-sizing:border-box;
  padding: 24px 30px 14px 30px;
  border-radius:8px 8px 0 0;
  background-color:#EAC995;
  border:1px solid #EAC995;
  box-shadow: inset 0 0 20px rgb(112, 65, 17);
}
textarea {
  box-sizing:border-box;
  width:100%;
  min-width:100%;
  max-width:100%;
  border-radius:4px;
  border:none;
  height:150px;
  box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
  border: 1px #eee solid;
  padding:8px;
  font-size:14px;
  color:#444;
  font-family: 'Courier New', 'Courier', monospace;
  transition: box-shadow 0.2s ease;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/paper_fibers.png)
}
a.button {
  margin-top:10px;
  border:none;
  margin-right:10px;
  display: block;
  float:left;
  background-color: #1B79C7;
  line-height: 1;
  padding: 6px 20px 6px 20px;
  color: white;
  text-shadow: 0px -1px 0px #0C3658;
  border-radius: 4px;
  box-shadow: 0px 3px 0px #0C3658, 0px 5px 3px rgb(112, 65, 17);
  transition: background-color 0.1s ease;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size:14px;
  text-decoration: none !important;
  position: relative;
  user-select: none;
}
.button:hover {
  background-color: #2E92E2;
}
.button:active {  
  bottom: -2px;
  box-shadow: 0px 1px 0px #0C3658, 0px 1px 3px rgb(112, 65, 17);
  color: white;
}
#hamburger {
  width:100%;
  margin:0;
  box-sizing:border-box;
  padding: 20px 30px 20px 30px;
  border-radius:0 0 8px 8px;
  background-color:#444;
  border:1px solid #444;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.8);
  color:#FFF;
  text-shadow:0px 1px 2px #000;
  font-size:14px;
}
#table {
  width:100%;
  margin:40px auto 0px auto;
  border-radius:8px;
  box-shadow: 0px 2px 20px rgba(0,0,0,0.5);

}
#pizza:after {
    content: '';
    display: table;
    clear: both;
}
#table a {
  color:#FFF;
  text-decoration:underline;
}

.comcom {
    display: block;
}

.comcom-open {
    display: none;
}